*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@font-face {
    font-family:'Quiet Backyard';
    src: url(../fonts/Quiet\ Backyard\ Sans.otf);
}
a {
    text-decoration: none;
}

body {
    font-family: 'Quiet Backyard';
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;

}
.error {
    display: block;
    position: relative;
    margin-top: 10px;
    text-align: left;
    display: none;
    font-size: 1.1em;
}
.exSpan{
    margin-top: 20px;
}

.title {
    text-align: center;
    margin: 2em;
    font-size: 2em;
    letter-spacing: .3em;
    color: #f3f4f5;
}
#logo {
    display: flex;
    width: 50%;
    margin: 2em auto;
}
.errase {
    background: #f3f4f5;
    z-index: 1;
}
.formBox {
    position: relative;
    width: 100%;
    min-height: 500px;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 2em;
    margin:  auto;
    backdrop-filter: blur(10px);
    background: #f3f4f5;
    z-index: 2;
    top: -15px;
}

.label {
    width: 90%;
    display: block;
    margin-block: 2em;
}
.label label {
    position: relative;
    display: flex;
    font-size: 1.5em;
    margin-bottom: .2em;
    text-align: left;
    width: 10%;
    top: 1.2em;
    color: #083ca4;

}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: .8em;
  font-family:'Quiet Backyard';
  
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: .8em;
  font-family:'Quiet Backyard';
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: .8em;
  font-family:'Quiet Backyard';
}
:-moz-placeholder { /* Firefox 18- */
  font-size: .8em;
  font-family:'Quiet Backyard';
}
.exercise{
    font-size: 1em;
    position: relative;
    width: 90%;
    left: 10%;
    font-family:'Quiet Backyard';
    text-align: center;
    border: none;
    border-bottom: 2px solid #083ca4;
    outline: none;
    border-radius: 1px;
    appearance: none;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    color: grey;
}
.exercise:focus {
    outline: none;
    box-shadow: none;
}


.label input {
    position: relative;
    width: 90%;
    min-height: 35px;
    background: transparent;
    text-align: center;
    font-size: 1.5em;
    margin-left: 15%;
    border: none;
    border-bottom: 2px solid #083ca4;
    color: #083ca4;
}

.or{
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 10px;
}
.button {
    width: 200px;
    max-width: 80%;
    border-radius: 35px;
    min-height: 35px;
    margin-top: 2em;
    border:none;
    font-size: 1em;
    color: #f3f4f5;
    background-color: #083ca4;
    padding: 10px;
    cursor: pointer;
    font-family: 'Quiet Backyard';
    letter-spacing: .2em;
}
.btn {
    position: relative;
    padding-inline: 71.5px;
    top: 20px;
}
textarea:focus, input:focus, select:focus {
    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;
    border-bottom: 2px solid #083ca4;
} 


@media(min-width: 600px) {

    #logo {
        position: absolute;
        width: 10%;
        left: 0;
        right: 0;
        bottom: -60px;
        z-index: 5;
    }
    .error{
        font-size: 1em;
    }
    #hidden{
        display: none;
    }
    .title {
        font-size: 1.5em;
        margin: .5em;
    }
    .formBox {
        position: absolute;
        width: 60%;
        height: 85%;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        border-radius: 20px;
        min-height: max-content;
    }
    .label {
        position: relative;
        width: 50%;
        margin: .1em auto;
        justify-content: center;
        align-items: center;
    }

    .exercise {
        left: 0;
        top: .8em;
    }

    button {
        display: flex;
        width: 30%;
        margin: 1.5em auto;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .forget { 
        position: relative;
        text-align: center;
        justify-content: center;
        font-size: .8em;
        margin-block: 2em;
        top: 3.5em;
    }
    .label input, .label label {
        margin-left: 0;
    }
    .or{
        position: relative;
        margin-bottom: 10px;
        letter-spacing: 2px;
        top: -.3em
    }
    .button {
        position: relative;
        top: .5em;
    }   


}